{% extends "base.html" %}

{% block content %}
  {% if not success %}
    <h2>Forgot Password</h2>
    <h3>Type your email</h3>

    <form method="post">
      {% csrf_token %}
        <input type="hidden" name="step" id="{{ step }}">
        {{ form.as_p}}
        <button type="submit">Confirm</button>
    </form>
  {% else %}
    <p>If there's an account registred with this email, you'll receive an email with instructions to change your password</p>
    <p>Go to <a href="{% url 'login' %}">Log In</a> or <a href="{% url 'register' %}">Sign Up</a></p>
  {% endif %}
{% endblock content %}